.PrimaryButton {
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  color: var(--colors-0);
  background-color: #885bb5;
  font-weight: normal;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  overflow: hidden;
  transition: width 0.2s;
  white-space: nowrap;
  position: relative;
  user-select: none;
}

.SecondaryButton {
  @extend .PrimaryButton;
  background-color: #77638c;
}

.TertiaryButton {
  @extend .PrimaryButton;
  background-color: var(--color-0);
}

.OutlineButton {
  @extend .PrimaryButton;

  border: 2px solid var(--color-7);
  color: var(--color-7);
  background: initial;
}

.IconMargin {
  margin-right: 10px;
}

.Disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.8;
}
