.Wrapper {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 4px 6px #00000055);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);

  i {
    color: var(--colors-0);
    margin-right: 5px;
    font-size: 1.3em;
  }
}

.Waiting {
  pointer-events: none;
  opacity: 0.5;
}

.InProgress {
  filter: drop-shadow(0px 0px 6px var(--colors-3));
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);

  i {
    color: var(--colors-3);
  }
}

.Loader {
  margin-left: 5px;
}
