.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.GameStatus {
  display: flex;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .PlayerMarker {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    i {
      font-size: 2em;
      opacity: 0.2;
    }
  }

  .WaitingForPlayer {
    background: #000;
  }

  .ConnectedPlayer {
    background: #69e879;

    i {
      opacity: 1;
      color: #000;
    }

    .SearchIcon {
      display: none;
    }
  }
}

.options {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.Option {
  background-color: #fff;
  height: 250px;
  width: 170px;
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  flex-direction: column;
  margin: 0 20px;
  filter: drop-shadow(0px 4px 6px #00000055);
  border: 2px solid #fff;
  padding: 20px;
  justify-content: center;
  transition: width 0.5s;
  overflow: hidden;
  position: relative;

  .PlayIcon {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 5em;
    opacity: 0.2;
    transition: font-size 0.4s;
  }

  .Description {
    font-size: 1.5em;
  }

  .Stat {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-grow: 1;
    justify-content: flex-end;

    .Entry {
      font-size: 1em;
    }
  }

  &:nth-child(1) {
    background: url(../../../asset/back_1vs1.png);
    background-size: 305%;
    .Label {
      font-size: 2em;
    }
  }

  &:nth-child(2) {
    background: url(../../../asset/back_2vs2.png);
    background-position-y: -41px;

    .Label {
      font-size: 1.7em;
    }
  }

  &:nth-child(3) {
    background: url(../../../asset/back_dm.png);
    background-size: 208%;

    .Label {
      transform: rotate(-90deg);
      transform-origin: right;
      position: absolute;
      font-size: 2em;
      right: 20px;
      top: -5px;
    }

    .Description {
      font-size: 1.2em;
      margin-right: 30px;
    }
  }
}

.SelectedOption {
  width: 60%;

  .PlayIcon {
    font-size: 17em;
  }
}

.InactiveOption {
  opacity: 0.2;
}

.SearchIcon {
  position: absolute;
  right: -5px;
  bottom: -5px;
  font-size: 1em !important;
  animation: Search 2s infinite linear;
  color: #fff;
  opacity: 1 !important;
  filter: drop-shadow(2px 4px 6px black);
}

@keyframes Search {
  0% {
    right: -5px;
    bottom: -5px;
  }
  25% {
    right: 5px;
    bottom: -5px;
  }
  50% {
    right: 5px;
    bottom: 5px;
  }
  75% {
    right: -5px;
    bottom: 5px;
  }
  100% {
    right: -5px;
    bottom: -5px;
  }
}
